/* Base style and colors */
:root{
    --main-color: rgb(52, 152, 219); 
    --accent-color: rgba(231, 76, 60, 0.8);  
    --background-color: hsl(210, 10%, 96%); 
    --header-color: color(display-p3 0.2 0.3 0.8); 
    --fallback-color: var(--main-color, blue); 
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    background-color: #e5a7e3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    background-color: #cc22c6;
    padding: 10px;
    text-align: center;
}
